body {
  font-family: "Open Sans", sans-serif;
}

.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
  float: left;
  width: 33.33%;
}
