<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <link rel="stylesheet" href="../public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
</head>

<body>
<div class="container">
  <div>
    <h1>{{.First}}'s Account details</h1>
  </div>
  
  <div class="image">
    <img
      src="../assets/img/profile.png"
      alt="Profile picture"
      style="width:40%"
      class="img-rounded"/>
  </div>  <br><br>
  
  <div>
  <table class="table">
  <tbody>
    <tr>
      <td>First Name:</td>
      <td>{{.First}}</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>{{.Last}}</td>
    </tr>
    <tr>
      <td>Username:</td>
      <td> {{.UserName}}</td>
    </tr>
    <tr>
      <td>Password:</td>
      <td> {{.Password}}</td>
    </tr>
  </tbody>
  </table>
  </div>

  <div>
    <h4><a href="/">back</a></h4>
    <h4><a href="/logout">log out</a></h4>
  </div>

</div>
</body>
</html>