<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plant</title>
    <link rel="stylesheet" href="../public/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        {{if .First}}
        <div>
          <h1>Hi, {{.First}}</h1>
        </div>

        <div>
          <h4><a href="/upload">Upload new pictures</a></h4>

          <h4><a href="/account">Account</a></h4>
          <h4><a href="/logout">Log out</a></h4>
        </div>

        {{else}}
        <div>
          <h4><a href="/signup">Sign up</a></h4>
          <h4><a href="/login">Log in</a></h4>
        </div>
      </div>
      {{ end }}

      <div class="row">
        <h2>Growing avocado plants at home</h2>
        <div class="column">
          <h2 id="element1">Week 4</h2>
          <div class="image">
            <img
              src="assets/img/avocado1.jpeg"
              alt="Avocado in glass"
              style="width:100%"
            />
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            beatae enim inventore ratione tempora!
          </p>
        </div>
        <div class="column">
          <h3 id="element2">Week 12</h3>
          <div class="image">
            <img
              src="../assets/img/avocado2.jpeg"
              alt="Avocado growing"
              style="width:100%"
            />
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium ad atque beatae deleniti dignissimos dolor
            exercitationem facilis magni modi molestiae nisi, officiis quisquam
            recusandae soluta voluptatum!
          </p>
        </div>
        <div class="column">
          <h2 id="element3">Week 36</h2>
          <div class="image">
            <img
              src="/assets/img/avocado3.jpeg"
              alt="Avocados"
              style="width:100%"
            />
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
            enim facere fuga illo ipsam nam nesciunt quo, ratione repudiandae
            sunt velit voluptatibus!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
