<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>

<h1>LOGIN</h1>
<form method="post">
    <input type="text" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form>
<h2><a href="/signup">signup</a></h2>

</body>
</html>