<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLANTS</title>
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
<div>
    <h1>Welcome, {{.First}}</h1>
</div>

 <div class="row">
      <div class="column">
        <h1 id="element1">Header 001</h1>
        <div class="image">
          <img
            src="../assets/img/avocado1.jpeg"
            alt="Avocado in glass"
            style="width:100%"
          />
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          beatae enim inventore ratione tempora! Asperiores deleniti, deserunt
          dolorem ducimus ex impedit maiores, minima minus quam quos rerum
          similique veritatis, voluptate.
        </p>
      </div>

      <div class="column">
        <h1 id="element2">Header 002</h1>
        <div class="image">
          <img
            src="../assets/img/avocado2.jpeg"
            alt="Avocado growing"
            style="width:100%"
          />
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad atque beatae deleniti dignissimos dolor exercitationem facilis
          magni modi molestiae nisi, officiis quisquam recusandae soluta
          voluptatum! Aliquid cumque iusto similique.
        </p>
      </div>

      <div class="column">
        <h1 id="element3">Header 003</h1>
        <div class="image">
          <img
            src="../assets/img/avocado3.jpeg"
            alt="Avocados"
            style="width:100%"
          />
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
          enim facere fuga illo ipsam nam nesciunt quo, ratione repudiandae sunt
          velit voluptatibus! Accusantium animi error, impedit minima nihil
          quibusdam temporibus.
        </p>
      </div>
    </div>


<div>
<h2><a href="/logout">log out</a></h2>
</div>

</body>
</html>