<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
</head>

<body>
<div class="container">

    <div>
       {{range .}}
       <img src="/public/pics/{{.}}" width="200px">
       {{end}}
    </div>

    <h1>Upload pictures:</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="nf"><br>
      <button type="submit" class="btn btn-default">submit</button>
    </form>

  <div>
    <h4><a href="/">back</a></h4>
    <h4><a href="/logout">log out</a></h4>
  </div>
</div>

</body>
</html>